body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  margin: 100px;
  gap: 60px;
  flex-wrap: wrap;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#svg-zone {
  min-width: 520px;
  min-height: 520px;
}

#config-menu {
  width: 450px;
  font-size: 24px;
  align-items: center;
  display: grid;
  grid-template-columns: 160px 55px 150px;
  grid-template-rows: repeat(4, 65px);
}

.config-text {
  width: 30px;
  height: 20px;
  text-align: center;
  justify-content: center;
}

#seed-text {
  width: 200px;
}

.config-range {
  width: 200px;
}

.config-label {
  color: aliceblue;
}

#random-seed-b {
  width: 40px;
  height: 25px;
}
